h1, h2, h3, h4, html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Overlock';
  cursor: url("img/fish.cur.png"), auto;
}

body {
  margin-top: 10px;
  background-image: url("https://res.cloudinary.com/dbsxgncvx/image/upload/c_scale,w_1200/v1479025742/Sand-Wallpaper-11_q2glg7.jpg");
  background-size: cover;
}

h1 {
  text-align: center;
  color: #145182;
  text-shadow: 0 0 2px darkgray;
  font-weight: 700;
}

#canvas-and-controls {
  opacity: .95;
  width: 900px;
  margin: auto;
  box-shadow: 0 0 14px white;
}

.stats {
  display: flex;
  justify-content: center;
  background-color: #efead5;
  border: 1px solid darkgray;
}

.stats li {
  padding: 10px;
  border-right: 1px solid darkgray;
}

#level {
  width: 10%;
  text-align: center;
  font-size: 27px;
}

#remaining-clicks {
  width: 75%;
  vertical-align: middle;
  font-size: 22px;
}

#left {
  width: 35px;
  margin-right: 5x;
}

#left-start {
  width: 35px;
  margin-right: 10px;
}

#timer {
  width: 10%;
  text-align: center;
  border: none;
  font-size: 27px;
  z-index: 100;
}

#canvas {
  display: block;
}

.controls {
  height: 55px;
  background-color: #efead5;
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  cursor: auto;
}

.footer {
  bottom: 0;
  width: 100%;
  cursor: auto;
  position: absolute;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #145182;
  opacity: .9;
  cursor: auto;
}

.footer li {
  width: 30px;
  margin: 5px 0px 5px 20px;
  cursor: auto;
}

#ghkitty {
  width: 36px;
}

footer img {
  display: block;
  width: 100%;
  height: pointer;
}

ul {
  list-style: none;
}

footer img:hover {
  cursor: auto;
}
.controls img {
  height: 45px;
  width: auto;
  cursor: pointer;
}

.controls img:hover {
  -webkit-filter: drop-shadow(0 0 2px #222);
  filter: drop-shadow(0 0 2px #222);
}

#mute, #about, #pause {
  margin-left: 15px;
  margin-right: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content-about {
    background-color: #fefefe;
    margin: 9% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-size: 22px;
    text-align: center;
}

.modal-content-about span {
  font-size: 18px;
}

.modal-content-won {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    font-size: 40px;
    text-align: center;
}

.modal-content-about p, .modal-content-won p, .modal-content-lose p, .modal-content-pause p {
  margin: 35px;
}

.modal-content-lose {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: auto;
    font-size: 34px;
    text-align: center;
}

.modal-content-pause {
    background-color: #fefefe;
    margin: 12% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 290px;
    font-size: 26px;
    text-align: center;
}

#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
}

#ok, #playAgain, #play, #backtogame {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 5px 10px;
}

#ok:hover, #ok:focus, #playAgain:hover, #playAgain:focus, #play:hover, #play:focus,#backtogame:hover, #backtogame:focus {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 4px black;
    cursor: pointer;
}
