h1, h2, h3, h4, html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  box-sizing: inherit;
  background: transparent;
  font-family: 'Overlock';
}

body {
  margin-top: 10px;
  background-image: url("http://res.cloudinary.com/dbsxgncvx/image/upload/c_scale,w_1200/v1479025742/Sand-Wallpaper-11_q2glg7.jpg");
  background-size: cover;
}

h1 {
  margin: 5px;
  text-align: center;
  color: #145182;
  text-shadow: 0 0 2px darkgray;
  font-weight: 700;
}

#canvas-and-controls {
  opacity: .95;
  width: 900px;
  margin: auto;
  box-shadow: 0 0 14px white;
}

.stats {
  display: flex;
  justify-content: center;
  background-color: #efead5;
  border: 1px solid darkgray;
}

.stats li {
  padding: 10px;
  border-right: 1px solid darkgray;
}

#level {
  width: 10%;
  text-align: center;
  font-size: 27px;
}

#remaining-clicks {
  width: 75%;
  vertical-align: middle;
}

#left {
  width: 35px;
}

#left-start {
  width: 35px;
}

#timer {
  width: 10%;
  text-align: center;
  border: none;
  font-size: 27px;
}

#canvas {
  display: block;
}

.controls {
  height: 70px;
  background-color: #efead5;
  align-items: center;
  display: flex;
  justify-content: center;
}

.footer {
	position: fixed;
  bottom: 0;
  width: 100%;
}

footer ul {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #145182;
  opacity: .9;
}

.footer li {
  width: 30px;
  margin: 5px 0px 5px 20px;
}

#ghkitty {
  width: 36px;
}

footer img {
  display: block;
  width: 100%;
  height: auto;
}

ul {
  list-style: none;
}


.controls img {
  height: 50px;
  width: auto;
}

.pause, .mute,#about {
  margin-left: 15px;
  margin-right: 15px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

#close:hover,
#close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#shark-face {
  width: 30px;
  height: auto;
  border-radius: 50%;
}
